@tailwind base;
@tailwind components;
@tailwind utilities;


.app-parent {
  background-color: rgb(243, 242, 240);
  padding-top: 20px;
}

/* NAVBAR ===============================================*/

.my-nav-container {
  margin: auto;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 25px;
  margin-top: -20px;
  background-color: white;
}

.my-nav {
  max-width: 1200px;
  margin: auto;
  min-height: 80px;
  padding: 15px;
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 35px;
  font-weight: 600;
}

.nav-left-side {
  display: flex;
  align-items: center;
}

/* HOME PAGE ===============================================*/

.main {
  display: flex;
  gap: 15px;
  max-width: 1200px;
  margin: auto;
}

/* PROFILE PAGE ===============================================*/

.profile-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.profile-banner {
  height: 10px;
  width: 100%;
  height: 150px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: -80px auto 15px auto;
  width: 300px;
  align-items: center;
}

.profile-section {
  width: 100%;
  padding: 15px;
}

.profile-section-content {
  width: 100%;
  padding: 15px 0;
}

.profile-header button {
  width: 100%;
  border-radius: 15px;
}

.profile-update-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  margin: 15px auto;
}

.profile-image-preview {
  background-color: rgb(176, 174, 174);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
}

.profile-upload-input {
  width: 200px;
  margin: auto;
  font-size: 12px;
}

.profile-update-button {
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 115px;
  right: 80px;
}

.profile-picture-update-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* NETWORK PAGE ===============================================*/

.main {
  display: flex;
  gap: 15px;
  max-width: 1200px;
  margin: auto;
}

.main-container {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.request-box {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.connection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  max-width: 170px;
  width: 100%;
  padding: 15px 0 15px 0;
}

/* NOTIFICATION PAGE ===============================================*/

.related-post {
  background-color: rgb(230, 228, 225);
  padding: 10px 0 10px 15px;
  margin-top: 10px;
  border-radius: 4px;
  width: 80%;
}

/* POST COMPONENT ===============================================*/

.post-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}


/* SIGN UP PAGE ===============================================*/

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 352px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.login-form input {
  padding: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* SIDEBAR ===============================================*/

.sidebar {
  max-width: 280px;
  width: 100%;
  max-height: 440px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.banner {
  height: 60px;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.sidebar-profile {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-profile-img {
  height: 80px;
  width: 80px;
  background-color: rgb(209, 216, 222);;
  border-radius: 50%;
  z-index: 10;
}

.sidebar-profile-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  padding: 0 15px 0 15px;
  margin: 0 0 30px 0;
}

/* NEW POST ===============================================*/

.post-section {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-post-container {
  align-self: flex-start;
  padding: 15px;
  width: 100%;
  height: auto;
  resize: vertical;
  overflow: auto; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.comment-container {
  width: 100%;
  background-color: rgb(243, 242, 240);
  padding: 10px;
  border-radius: 8px;
}

.comment-form {
  min-height: 100px;
  width: 100%;
}

.single-comment-box {
  display: flex;
  flex-direction: column;
}

/* RECOMMENDED USERS ===============================================*/

.recommended-container {
  max-width: 300px;
  width: 100%;
  height: auto;
  align-self: flex-start;
  padding: 15px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.connect-button {
  padding: 3px 12px;
  border-radius: 40px;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  background-color: white;
}

.pending-button {
  padding: 3px 12px;
  border-radius: 40px;
  border: 1px solid rgb(25, 206, 25);
  color: rgb(25, 206, 25);
  background-color: white;
}


/* UTILITIES ===============================================*/

textarea {
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(243, 242, 240);
  height: 100px;
  width: 100%;
}

.error {
  color: red;
}

input {
  border: 1px solid grey;
  padding: 4px 8px;
  margin: 2px 0 0 0;
  border-radius: 4px;
}

button{
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #0d6efd;
  color: white;
}

.blue-button {
  padding: 10px 12px;
  border-radius: 40px;
  background-color: #0d6efd;
  color: white;
  font-weight: 600;
}

.blue-button-shell {
  padding: 10px 12px;
  border-radius: 40px;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.link {
  color:#0d6efd;
}

.hand-hover:hover {
  cursor: pointer;
}

.logo-img {
  max-height: 40px;
}

.agreement {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(66, 66, 66);
  margin-top: 10px;
}

.circle {
  border-radius: 50%;
  background-color: rgb(209, 216, 222);
}

.profile-img {
  height: 50px;
  width: 50px;
}

.profile-img-small {
  height: 24px;
  width: 24px;
}

.profile-img-medium {
  height: 34px;
  width: 34px;
}

.profile-img-large {
  height: 100px;
  width: 100px;
}

.profile-img-xlarge {
  height: 150px;
  width: 150px;
}

.image-preview {
  width: 100%;
}

.shaded-border {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: white;
}

.notification-dot {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 11px;
  background-color:#0d6efd;
  color: white;
  border-radius: 50%;
}

.horizontal-line {
  border-top: 1px solid rgb(193, 193, 193);
  width: 90%;
  margin: 15px auto;
}

.edit-button {
  padding: 0;
  border: none;
  color: #0d6efd;
  background-color: white;
}

.img-fit {
  object-fit: cover;
  object-position: center;
}