@tailwind base;
@tailwind components;
@tailwind utilities;


/* NAVBAR ===============================================*/

.my-nav-container {
  margin:auto;
}

.my-nav {
  max-width: 1200px;
  margin: auto;
  min-height: 60px;
  padding: 15px;
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}

.nav-left-side {
  display: flex;
  align-items: center;
}

/* SIGN UP PAGE ===============================================*/

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100vw;
  margin: auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  margin: auto;
  border-radius: 8px;

  border: 1px solid lightgray;
  background-color: white;
}


/* UTILITIES ===============================================*/

.error {
  color: red;
}

input {
  border: 1px solid grey;
  padding: 4px 8px;
  margin: 2px 0 0 0;
  border-radius: 4px;
}

button{
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #0d6efd;
  color: white;
}

.blue-button {
  padding: 10px 12px;
  border-radius: 40px;
  background-color: #0d6efd;
  color: white;
}

.blue-button-shell {
  padding: 10px 12px;
  border-radius: 40px;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.link {
  color:#0d6efd;
}

.hand-hover:hover {
  cursor: pointer;
}

.logo-img {
  max-height: 30px;
}

.agreement {
  font-size: 12px;
  margin: 15px 0 15px 0;
  text-align: center;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(66, 66, 66);
}