@tailwind base;
@tailwind components;
@tailwind utilities;


.app-parent {
  background-color: rgb(243, 242, 240);
  padding-top: 20px;
}

/* NAVBAR ===============================================*/

.my-nav-container {
  margin:auto;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.my-nav {
  max-width: 1200px;
  margin: auto;
  min-height: 80px;
  padding: 15px;
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 35px;
  font-weight: 600;
}

.nav-left-side {
  display: flex;
  align-items: center;
}

/* HOMEPAGE ===============================================*/

.homepage {
  display: flex;
  gap: 15px;
  max-width: 1200px;
  margin: auto;
}

/* POST COMPONENT ===============================================*/

.post-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}


/* SIGN UP PAGE ===============================================*/

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 352px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.login-form input {
  padding: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* SIDEBAR ===============================================*/

.sidebar {
  max-width: 280px;
  width: 100%;
  max-height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.banner {
  height: 60px;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.sidebar-profile {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-profile-img {
  height: 80px;
  background-color: wheat;
  border-radius: 50%;
  z-index: 10;
}

.sidebar-profile-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  padding: 0 15px 0 15px;
  margin: 0 0 30px 0;
}

/* NEW POST ===============================================*/

.post-section {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-post-container {
  align-self: flex-start;
  padding: 15px;
  width: 100%;
  height: auto;
  resize: vertical;
  overflow: auto; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.new-post-container textarea {
  border: 1px solid lightgray;
  height: 100px;
  width: 100%;
}

/* RECOMMENDED USERS ===============================================*/

.recommended-container {
  max-width: 300px;
  width: 100%;
  max-height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* UTILITIES ===============================================*/

.error {
  color: red;
}

input {
  border: 1px solid grey;
  padding: 4px 8px;
  margin: 2px 0 0 0;
  border-radius: 4px;
}

button{
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #0d6efd;
  color: white;
}

.blue-button {
  padding: 10px 12px;
  border-radius: 40px;
  background-color: #0d6efd;
  color: white;
  font-weight: 600;
}

.blue-button-shell {
  padding: 10px 12px;
  border-radius: 40px;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.link {
  color:#0d6efd;
}

.hand-hover:hover {
  cursor: pointer;
}

.logo-img {
  max-height: 40px;
}

.agreement {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(66, 66, 66);
  margin-top: 10px;
}

.profile-img {
  border-radius: 50%;
  max-height: 50px;
  background-color: wheat;
}

.image-preview {
  width: 100%;
}

.shaded-border {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: white;
}